[Unit]
Description=Handles the archiving and deletion of stale download files
Documentation=https://github.com/brandonio21/download-sweeper

[Service]
Type=simple
WorkingDirectory=DOWNLOADSWEEPERPATH
ExecStart=/usr/bin/bash -c "source DOWNLOADSWEEPERPATH/downloadsweepervenv/bin/activate ;DOWNLOADSWEEPERPATH/download_sweeper.py ;deactivate"

[Install]
Alias=downloadsweeper download_sweeper
