[Unit]
Description=Handles the archiving and deletion of stale download files
Documentation=https://github.com/brandonio21/download-sweeper

[Service]
Type=simple
WorkingDirectory=DOWNLOADSWEEPERPATH
ExecStart="DOWNLOADSWEEPERPATH/download_sweeper.py"

[Install]
Alias=downloadsweeper download_sweeper
