[Unit]
Description=Handles the archiving and deletion of stale download files
Documentation=https://github.com/brandonio21/download-sweeper

[Service]
Type=simple
ExecStart=/usr/bin/bash -c "source ${HOME}/.virtualenvs/download-sweeper/bin/activate ;/usr/bin/download_sweeper.py ;deactivate"

[Install]
Alias=downloadsweeper download_sweeper
